*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("./Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage{
    width: 50%;
    height: 70%;
    background-color: #8f8f8f52;
    backdrop-filter: blur(1px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.loginDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passwordcontainer{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

input[type="checkbox"]{
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.passwordcontainer a{
    color: black;
    cursor: pointer;
}

h1{
    font-size: 80px;
}

input[type="text"],input[type="password"]{
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

button{
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(252, 204, 212) ;
    cursor: pointer;
}



/* !Mobile Devices*/
@media screen and (min-width:320px) and (max-width:480px){
    .container {
        width: 100vw;
        height: 100vh;
        background-position: center;
    }
    .loginpage {
        width: 80%;
        height: 85%;
        gap: 20px;
    }
    h1 {
        font-size: 60px;
    }
    .loginDetails {
        width: 80%;
        gap: 10px;
    }
    input[type="text"], input[type="password"] {
        padding: 18px;
        font-size: 16px;
    }
    .passwordcontainer {
        font-size: 16px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
}

/*! tablet devices and ipads*/
@media screen and (min-width:481px) and (max-width:768px){
    .container {
        width: 100vw;
        height: 100vh;
        background-position: center;
    }
    .loginpage {
        width: 80%;
        height: 85%;
        gap: 20px;
    }
    h1 {
        font-size: 60px;
    }
    .loginDetails {
        width: 80%;
        gap: 10px;
    }
    input[type="text"], input[type="password"] {
        padding: 18px;
        font-size: 16px;
    }
    .passwordcontainer {
        font-size: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
}

/*! small screen devices */
@media screen and (min-width:769px) and (max-width:1024px){
    .container {
        width: 100vw;
        height: 100vh;
        background-position: center;
    }
    .loginpage {
        width: 80%;
        height: 85%;
        gap: 20px;
    }
    h1 {
        font-size: 90px;
    }
    .loginDetails {
        width: 80%;
        gap: 10px;
    }
    input[type="text"], input[type="password"] {
        padding: 18px;
        font-size: 20px;
    }
    .passwordcontainer {
        font-size: 20px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
}

/*! Large screen  devices*/
@media screen and (min-width:1025px) and (max-width:1200px){
    .container {
        width: 100vw;
        height: 100vh;
        background-position: center;
    }
    .loginpage {
        width: 80%;
        height: 85%;
        gap: 20px;
    }
    h1 {
        font-size: 90px;
    }
    .loginDetails {
        width: 80%;
        gap: 10px;
    }
    input[type="text"], input[type="password"] {
        padding: 18px;
        font-size: 20px;
    }
    .passwordcontainer {
        font-size: 20px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
}